.vscode/
.idea/
.DS_Store

# colcon build artifacts
build/
install/
log/

# Python
__pycache__/
*.pyc
*.egg-info/
*.egg-link
.ipynb_checkpoints/
.venv/
.env

# model/training artifacts
*.pth
*.pt
dataset
models
trt_cache
robotLocalization
