
.vscode/
.idea/
robotLocalization
*.pth
*.pt
*.venv/
build/
install/
log/
__pycache__/
*.pyc
*.pyo
*.pyd

project-oval/onnx_segmentation/test_images

dataset
log
models
trt_cache


.venv/

.env
