images 
university_annotations
.env
Test_2
university_landmark
model_epoch_1.pth
model_epoch_2.pth
model_epoch_3.pth
model_epoch_4.pth
model_epoch_5.pth
model_epoch_6.pth
model_epoch_7.pth
model_epoch_8.pth
model_epoch_9.pth
model.pt
model_epoch_10.pth
test_images_ann
Test_3
