<?xml version="1.0"?>
<model>
    <name>Autonomous Vehicle</name>
    <version>1.0</version>
    <sdf version='1.4'>model.sdf</sdf>

    <author>
        <name>Jimin Yu</name>
        <email>jyu34@ncsu.edu</email>
    </author>

    <description>
        A differential drive serf-driving robot
    </description>
</model>