<?xml version="1.0" ?>
<robot name="My robot">
    <webots>
        <device reference="lidar" type="Lidar">
            <ros>
                <topicName>/scan</topicName>
                <alwaysOn>true</alwaysOn>
            </ros>
        </device>

        <plugin type="webots_ros2_driver::Ros2IMU">
        <enabled>true</enabled>
        <topicName>/imu</topicName>
        <alwaysOn>true</alwaysOn>
        <frameName>imu_link</frameName>
        <inertialUnitName>imu</inertialUnitName>
        <gyroName>gyro</gyroName>
        <accelerometerName>accelerometer</accelerometerName>
        </plugin>

        <device reference="gps" type="GPS">
        <ros>
            <topicName>/gps</topicName>
            <alwaysOn>true</alwaysOn>
        </ros>
        </device>

        <plugin type="project_oval.sim_driver_node.SimDriverNode" />
    </webots>
</robot>