<?xml version="1.0" ?>
<robot name="My robot">
    <webots>
        <device reference="lidar" type="Lidar">
            <ros>
                <topicName>/lidar_data</topicName>
                <alwaysOn>true</alwaysOn>
            </ros>
        </device>
        <plugin type="my_package.my_robot_driver.MyRobotDriver" />
    </webots>
</robot>